한국 거래소에서 주식 종목 코드 가져오기

In [36]:
import pandas as pd
import pandas_datareader as pdr
from datetime import datetime

In [37]:
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
code_df

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
2,거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도
3,교보메리츠,64900,NaN,"부동산 투자,운용",2002-01-30,12월,김 상 진,NaN,서울특별시
4,국제관광공사,28780,NaN,NaN,1966-03-18,12월,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3808,에이원알폼,234070,산업용 기계 및 장비 임대업,건설현장용 알루미늄 거푸집 임대,2015-12-21,12월,안호중,http://www.aonealform.co.kr,충청북도
3809,원바이오젠,278380,의료용품 및 기타 의약 관련제품 제조업,의료기기(창상피복재),2019-06-03,12월,김원일,http://www.wonbiogen.co.kr,경상북도
3810,지앤이헬스케어,299480,기타 섬유제품 제조업,면생리대,2018-06-29,12월,장영민,http://www.hannahpad.com,경기도
3811,코셋,189350,통신 및 방송 장비 제조업,광통신용 증폭기,2013-12-24,12월,"오치형, 주관종",http://coset.com,광주광역시
3812,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도

In [38]:
stock_type={'kospi':'stockMkt', 'kosdaq':'kosdaqMkt'}

In [39]:
def get_code(df, name):
    code=df.query("name=='{}'".format(name))['code'].to_string(index=False)
    code=code.strip()
    return code

In [40]:
def get_download_stock(market_type=None):
    market_type=stock_type[market_type]
    download_link='http://kind.krx.co.kr/corpgeneral/corpList.do'
    download_link=download_link + '?method=download'
    download_link=download_link + '&marketType='+market_type
    
    df=pd.read_html(download_link, header=0)[0]
    return df;

In [41]:
def get_download_kospi():
    df=get_download_stock('kospi')
    df.종목코드=df.종목코드.map('{:06d}.KS'.format)
    return df

In [42]:
def get_download_kosdaq():
    df=get_download_stock('kosdaq')
    df.종모코드=df.종목코드.map('{:06d}.KQ'.format)
    return df

In [43]:
kospi_df=get_download_kospi()
kosdaq_df=get_download_kosdaq()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [44]:
code_df=pd.concat([kospi_df, kosdaq_df])
code_df=code_df[['회사명', '종목코드']]
code_df=code_df.rename(columns={'회사명':'name', '종목코드':'code'})

In [53]:
code=get_code(code_df, 'LG생활건강')

In [54]:
start=datetime(2020,1,1)
end=datetime(2020,2,12)

In [55]:
df=pdr.get_data_yahoo(code, start, end)

In [56]:
df

               High      Low     Open    Close  Volume  Adj Close
Date
2020-01-02  1272000  1249000  1254000  1266000   24426    1266000
2020-01-03  1282000  1259000  1273000  1263000   29170    1263000
2020-01-06  1269000  1249000  1252000  1249000   19929    1249000
2020-01-07  1347000  1251000  1262000  1343000   62787    1343000
2020-01-08  1350000  1313000  1314000  1345000   43472    1345000
2020-01-09  1351000  1324000  1332000  1324000   41494    1324000
2020-01-10  1355000  1316000  1316000  1343000   22346    1343000
2020-01-13  1425000  1343000  1344000  1404000   49449    1404000
2020-01-14  1446000  1402000  1446000  1411000   47813    1411000
2020-01-15  1425000  1395000  1401000  1422000   42809    1422000
2020-01-16  1422000  1402000  1420000  1405000   33389    1405000
2020-01-17  1423000  1402000  1406000  1406000   35291    1406000
2020-01-20  1423000  1377000  1407000  1387000   45475    1387000
2020-01-21  1397000  1340000  1386000  1343000   50018    1343000
2020-01-22  1368000  1352000  1355000  1368000   39024    1368000
2020-01-23  1364000  1334000  1351000  1349000   50508    1349000
2020-01-28  1309000  1252000  1302000  1253000   98803    1253000
2020-01-29  1317000  1262000  1287000  1296000  132198    1296000
2020-01-30  1296000  1258000  1294000  1262000   72600    1262000
2020-01-31  1278000  1256000  1275000  1258000   50358    1258000
2020-02-03  1256000  1230000  1249000  1250000   47434    1250000
2020-02-04  1274000  1245000  1257000  1269000   44714    1269000
2020-02-05  1305000  1270000  1271000  1302000   58788    1302000
2020-02-06  1358000  1311000  1334000  1354000   69729    1354000
2020-02-07  1363000  1337000  1354000  1352000   58273    1352000
2020-02-10  1357000  1341000  1342000  1356000   31814    1356000
2020-02-11  1385000  1365000  1382000  1382000   36979    1382000
2020-02-12  1399000  1371000  1382000  1398000   41677    1398000

In [29]:
stock=[]

In [34]:
pdr.DataReader('GOOG', 'yahoo')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-02-13,548.404358,541.642944,541.862305,547.506836,1900300.0,547.506836
2015-02-17,548.494080,539.608521,545.332764,541.353699,1616800.0,541.353699
2015-02-18,543.996460,536.038330,539.917664,538.222290,1453000.0,538.222290
2015-02-19,541.622986,536.536926,536.566833,541.383606,989100.0,541.383606
2015-02-20,542.261230,534.333008,541.642944,537.474365,1444300.0,537.474365
...,...,...,...,...,...,...
2020-02-06,1482.000000,1449.569946,1450.329956,1476.229980,1679400.0,1476.229980
2020-02-07,1485.839966,1466.349976,1467.300049,1479.229980,1172300.0,1479.229980
2020-02-10,1509.500000,1474.319946,1474.319946,1508.680054,1419900.0,1508.680054
2020-02-11,1529.630005,1505.637939,1511.810059,1508.790039,1344600.0,1508.790039
2020-02-12,1520.694946,1508.109985,1514.479980,1518.270020,1165200.0,1518.270020

In [30]:
for xx in range(len(df['종목코드'])):
    stock[xx]=pdr.DataReader([df['종목코드'][xx]], 'yahoo', start, end)
    print(stock[xx])

RemoteDataError: No data fetched using 'YahooDailyReader'